.inner-container {
    width: 900px;
    margin: 0 auto;
}

#add-monitor-modal {
    width: 720px;
    margin: 0 auto;
}

.modal-body {
    max-height: 100%;
    overflow-y: scroll;
}

#set-threshold {
    margin-top: 20px;
}