# Configuration file. If you remove a parameter the code may not work
# properly. Run amon-senss.configure to generate this file through a
# dialogue

file_interval=3600
attack_low=120
attack_high=240
min_train=20
numstd=5
report_thresh=3
spec_thresh=0.05
filter_thresh=0.7
no_orphan=1
max_oci=100
max_flows=100000 
